<footer class="footer-2" role="contentinfo">
    <ul>
      <li class='scroll-top'><a>back to top</a></li>
    </ul>

    <div class="footer-secondary-links">
      <ul>
        <li><a href="mailto:bootcamprapp@gmail.com?Subject=Hey%20Bootcamprs" target="_top">
          contact us
        </a></li>
        <li><a href="https://twitter.com/bootcamprapp">follow us on twitter</a></li>
      </ul>

      <ul class="footer-social">
        <li><a href="https://twitter.com/bootcamprapp">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter">
        </a></li>
      </ul>
    </div>
</footer>
