<footer class="footer-2" role="contentinfo">
    <ul>
      <li class='scroll-top'><a>Back to top</a></li>
      <li><%= link_to 'Events', events_path %></li>
      <li><%= link_to 'News', news_path %></li>
      <li><%= link_to 'Projects', projects_path %></li>
    </ul>

    <div class="footer-secondary-links">
      <ul>
        <li><a href="mailto:bootcamprapp@gmail.com?Subject=Hey%20Bootcamprs!" target="_top">
          Contact us
        </a></li>
        <li><a href="https://twitter.com/bootcamrapp">follow us on twitter</a></li>
      </ul>

      <ul class="footer-social">
        <li><a href="https://twitter.com/bootcamrapp">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter">
        </a></li>
      </ul>
    </div>
</footer>
