<div class="hero-section">
  <div class="hero-section-text">
    <div class="hero-statement-line1">MADE BY BOOTCAMPRS, FOR BOOTCAMPRS</div>
    <div class="hero-statement-line2">to create beautiful and meaningful things</div>
    <div class="index-buttons">
      <form class="events-index" action="/events" method="get">
        <input type="submit" value="Events">
      </form>
      <form class="projects-index" action="/projects" method="get">
        <input type="submit" value="Projects">
      </form>
    </div>
  </div>
</div>
