<div class="welcome-spiel col-1">
  <h2>Calling all bootcampers!</h2>
  <p>
    When we at Bootcampr graduated from Dev Bootcamp Seattle, we didn't want to lose the special community we had made through weeks of learning, hard work, and (of course) stress. In fact, we wanted to extend that community even further, and invite in all who have shared in those experiences.
  </p>

  <p>
    We want to learn more. We want to share what we know. We want to know you better.
  </p>

  <p>
    We want to make beautiful and meaningful things, and we want to do it with you.
  </p>

  <p>
    Let's get started today.
  </p>
</div>
