<div class="welcome-spiel col-1">
  <h2>Who we is...</h2>
  <p>Calling all Seattle Bootcamp Grads. This is a call to unite.</p>
  <p>
    We are a group of bootcamprs from Dev Bootcamp Seattle. Our goal is to build a community of web developers. This is a place where bootcamp grads flock to build beautiful and meaningful things.
  </p>
  <p>Get started today!</p>
</div>
