<h2>Events</h2>
<br>
<% if user_signed_in? %>
<%= link_to 'Add a New Event', new_event_path %>
<% end %>

<div class='cards'>
  <% @events.each do |event| %>
  <div class='card'>
    <div class="card-image">
      <img src="http://lorempixel.com/400/200/abstract" alt="">
    </div>
    <div class='card-header'>
      <%= event.title %>
    </div>
    <div class='card-copy'>
      <p>
        <%= event.summary %>
      </p>
    </div>
  </div>
  <% end %>
</div>
