<h2>Events</h2>
<br>
<% if user_signed_in? %>
<%= link_to 'Add a New Event', new_event_path %>
<% end %>

<div class='cards'>
  <% @events.each do |event| %>
  <div class='card'>
    <div class="card-image">
      <% if event.image_stored? %>
        <%= image_tag event.image.thumb('300x300').url if event.image_stored? %>
      <% else %>
        <img src="http://lorempixel.com/400/200/abstract" alt="This would be a lot cooler if you uploaded a picture">
      <% end %>
    </div>
    <div class='card-header'>
      <%= link_to event.title, event %>
    </div>
    <div class='card-copy'>
      <p>
        <%= event.summary %>
      </p>
    </div>
  </div>
  <% end %>
</div>
