<% if !user_signed_in? %>
<div class="landing-page-container welcome">
  <%= render 'shared/welcome_message' %>
  <%= render 'shared/sign_up' %>
</div>
<% else %>
  <%= render 'shared/welcome_message' %>
  <div class="new-stuff col-2">
    <h2>Build something great</h2>
    <form class="new-event-button" action="/events/new" method="get">
      <input type="submit" value="Create an Event">
    </form>
    <form class="new-project-button" action="/projects/new" method="get">
      <input type="submit" value="Create a Project">
    </form>
  </div>
<% end %>
