<h2>News</h2>


<div class='cards'>
  <% @articles.each do |article| %>
    <div class='card'>
      <div class="card-image">
    <img src='<%= article['urlToImage'] %>' alt="Story Image">
      </div>
      <div class='card-header'>
        <a href="<%= article['url'] %>"><%= article['title'] %></a>
      </div>
        <div class='card-copy'>
          <p>
            <%= article['description'] %>
          </p>
        </div>
    </div>
  <% end %>
</div>
