<div class='page-title'>
  <h2>Top Tech News</h2>
</div>
<div class="clear"></div>

<div class='cards'>
  <% @articles.each do |article| %>
    <div class='card'>
      <div class="card-image">
        <% if article['urlToImage'] %>
        <img src='<%= article['urlToImage'] %>' alt="Story Image">
        <% else %>
        <img src="https://placeimg.com/640/480/tech" alt="random tech image">
        <% end %>
      </div>
      <div class='card-header'>
        <a href="<%= article['url'] %>"><%= article['title'] %></a>
      </div>
        <div class='card-copy'>
          <p>
            <%= article['description'] %>
          </p>
        </div>
    </div>
  <% end %>
</div>
