  <% if project.image_stored? %>
    <%= image_tag project.image.thumb('300x300').url %>
  <% else %>
    <img src="http://lorempixel.com/400/200/abstract" alt="">
  <% end %>
<h1> <%= project.title %> </h1>
<p> <%= project.summary %> </p>
