
  <div class='page-title'><h2>Projects</h2></div>

  <% if user_signed_in? %>
    <div class='new-project-event-button'>
      <span><%= link_to image_tag('new-projects.png'), new_project_path %></span>
    </div>
  <% end %>

  <div class='clear'></div>

  <div class="grid-items-lines">
    <% @projects.each do |project| %>
      <%= link_to project, :class => "grid-item" do %>
        <%= render partial: 'grid_items', locals: { project: project } %>
        <% end %>
    <% end %>
    <div class="right-cover"></div>
    <div class="bottom-cover"></div>
  </div>
