<div class='page-title'><h2>Projects</h2>

<% @projects.each do |project| %>
  <div class='project'>
    <div class='project-title'><h3><%= link_to project.title, project %><h3></div>
    <div class='project-summary'><%= project.summary %></div>
  </div>
<% end %>

<div>
  <p>
    Have a new project? Click <%= link_to 'here', new_project_path %> to list it.
  </p>
</div>
