<div class='page-title'><h2>Projects</h2>

<% if user_signed_in? %>
  <div>
    Have a new project? Click <%= link_to 'here', new_project_path %> to list it.
  </div>
<% end %>


<div class='cards'>
  <% @projects.each do |project| %>
  <div class='card'>
    <div class="card-image">
      <%= image_tag("bricks") %>
    </div>
    <div class='card-header'>
      <div class='project-title'><h3><%= link_to project.title, project %><h3></div>
    </div>
    <div class='card-copy'>
      <p>
        <%= project.summary %>
      </p>
    </div>
  </div>
  <% end %>
</div>
