<div class='page-title'><h2>Projects</h2>

<% if user_signed_in? %>
  <div>
    Have a new project? Click <%= link_to 'here', new_project_path %> to list it.
  </div>
<% end %>


<% @projects.each do |project| %>
<%= link_to project do  %>
<div class='cards'>
  <div class='card'>
    <div class="card-image">
      <img src="http://lorempixel.com/400/200/abstract" alt="">
    </div>
    <div class='card-header'>
      <div class='project-title'><h3><%= link_to project.title, project %><h3></div>
    </div>
    <div class='card-copy'>
      <p>
        <%= project.summary %>
      </p>
    </div>
  </div>
  <% end %>
  <% end %>
</div>
