<div class="project-event-index-container">

  <div class='page-title'><h2>Projects</h2></div>

  <% if user_signed_in? %>
    <div class='new-project-event-button'>
      <span><%= link_to image_tag('new-projects.png'), new_project_path %></span>
    </div>
  <% end %>

  <div class='clear'></div>


  <div class='cards'>
    <% @projects.each do |project| %>
    <div class='card'>
      <div class="card-image">
        <% if project.image_stored? %>
          <%= image_tag project.image.thumb('300x300').url %>
        <% else %>
          <img src="http://lorempixel.com/400/200/abstract" alt="">
        <% end %>
      </div>
      <div class='card-header'>
        <div class='project-title'><h3><%= link_to project.title, project %><h3></div>
      </div>
      <div class='card-copy'>
        <p>
          <%= project.summary %>
        </p>
      </div>
    </div>
    <% end %>
  </div>

</div>
