<div class='page-title'><h2>Categories</h2></div>

<div class='clear'></div>

<div class='categories-page-summary'><p>As well as being personal interests of Bootcamprs, categories are tagged on to projects & events.</p><p> <%= link_to "Choose a random topic!", @tags.sample %> </p></div>


<div class='clear'></div>

<div>
  
  <% @tags.each do |tag| %>
    <%= link_to tag.name, tag %>
  <% end %>

</div>
